// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new-group-container
  width: 30%
  min-width: 400px
  margin: auto
  margin-top: 50px
  letter-spacing: 1px
  label
    margin-top: 5px
  .header-title
    with: 100%
    text-align: center
  .btn
    margin-left: auto
    margin-right: auto
    margin-top: 25px
    width: 60%

.group-container
  padding: 30px
  width: 50%
  margin: auto

  .group-title
    with: 100%
    font-size: 1.5em
  .group-members

  .expense-table
    width: 100%
    .amount
      text-align: right


@media (max-width: 668px)
  .new-group-container
    width: 100%
    padding: 10px
